{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Food Label Analyzer</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container text-center mt-5">
      <h1 class="mb-3">Food Label Analyzer</h1>
      <p class="mb-4">
        Welcome to the Food Label Analyzer. This tool helps you understand the
        nutritional content of food products.
      </p>
      <h2 class="mb-3">Webcam Capture</h2>
      <!-- Flex container to center video and canvas -->
      <div class="d-flex justify-content-center mb-3">
        <video
          id="video"
          width="640"
          height="480"
          class="mb-3 rounded"
          style="display: none"
        ></video>
        <canvas
          id="canvas"
          width="640"
          height="480"
          class="mb-3 rounded"
          style="display: none"
        ></canvas>
      </div>
      <div class="button-container mb-3">
        <button id="capture" class="btn btn-primary mr-2" style="display: none">
          Capture Photo
        </button>
        <button id="retake" class="btn btn-info mr-2" style="display: none">
          Take Another Photo
        </button>
        <button id="analyze" class="btn btn-warning mr-2" style="display: none">
          Analyze Label
        </button>
        <button id="start" class="btn btn-success mr-2">Start</button>
        <button id="pause" class="btn btn-secondary" style="display: none">
          Pause
        </button>
      </div>
    </div>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
