<!-- templates/index.html -->

{% include 'navbar.html' %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - COMP 680 Nutrition Label Scanner App</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Welcome to COMP 680 Nutrition Label Scanner App</h1>
      <p>This is the home page of our application.</p>
      <!-- Add more content here as needed -->
    </div>
  </body>
</html>
