<!-- templates/navbar.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>COMP 680 Nutrition Label Scanner App</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <nav class="navbar">
      <div class="container">
        <a href="#" class="logo">COMP 680 Nutrition Label Scanner App</a>
        <ul class="nav-links">
          <!-- Add additional navigation links here if needed -->
        </ul>
      </div>
    </nav>
  </body>
</html>
